@font-face{
    font-family: UniSans;
    src: url('~assets/fonts/Fontfabric - Uni Sans Regular.ttf')
}

@font-face{
    font-family: UniSans;
    font-style: italic;
    font-weight: bold;
    src: url('~assets/fonts/Fontfabric - Uni Sans SemiBold Italic.ttf')
}

@font-face{
    font-family: UniSans;
    font-style: italic;
    font-weight: thin;
    src: url('~assets/fonts/Fontfabric - Uni Sans Thin.ttf')
}

@font-face{
  font-family: UniSans;
  font-style: italic;
  font-weight: 800;
  src: url('~assets/fonts/Fontfabric - Uni Sans Heavy Italic.ttf')
}
